.font-kecil {
	font-size: 13px !important;
}
.font-bold {
	font-weight: bold;
}
.btn-ku {
	padding: 5px 10px;
	color: white !important;
	font-weight: 600;
}
.hilang {
	display: none !important;
}
div.dataTables_wrapper div.dataTables_filter label {
	float: left !important;
}
/* .table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: linen;
} */
